.title-sec {
   background-color: black;
   color:white;
   height: 50%;
}
.title-img img{
    margin:150px auto 150px auto;
    display: block;
    width: 80%;
    height: 50%;
    border-radius: 20px;
}
.title-intro {
    margin: 150px auto 150px auto;
    align-items: center;
}
.title-intro>h1 {
    text-align: center;
    font-size: 72px;
}
.title-intro h2 {
    text-align: center;
    font-size: 36px;
}
.title-intro p {
    text-align: center;
    font-size: 24px;
}
.title-intro>a {
    text-decoration: none;
    color: white;
}

.link-button {
    text-align: center;
    font-size: 30px;
    margin: 50px 250px auto 250px;
    text-decoration: none;
}
.link-button a {
    background-color: black;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    color: white; 
}
.link-button a:hover {
    background-color: rgb(218, 216, 216);
    color: black;
    text-decoration: none;
}